main > section {
  scroll-margin-top: 8.5vh;
}

main > section:nth-child(2n + 1) {
  background-image: var(--sect1-bkg-img);
}

main > section > h1 {
  letter-spacing: 1rem;
  text-transform: uppercase;
}

main > section > div > h1 {
  letter-spacing: 1rem;
  text-transform: uppercase;
}

#myBtn {
  background-image: url(../../../public/images/arrow_circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  bottom: 27px;
  cursor: pointer;
  display: none;
  outline: none;
  padding: 15px;
  position: fixed;
  right: 30px;
  z-index: 99;
}

#myBtn:hover {
  transform: scale(1.2);
}
