header {
  background-image: var(--header-bkg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}

.header-intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3rem;
  padding-top: 15vh;
  position: relative;
  top: var(--height-nav);
}

.header-intro > h1 {
  border-bottom: 5px solid white;
  border-radius: 10%;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 5rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  text-align: center;
  text-transform: capitalize;
}

.header-intro-roles {
  display: flex;
}

.header-intro-roles > p {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-align: center;
}

.wrapper {
  margin-top: 3%;
}

.wrapper > ul {
  display: flex;
  list-style: none;
}

.wrapper ul li {
  border: 3px solid #d8e2dc;
  border-radius: 50%;
  cursor: pointer;
  height: 55px;
  margin: 0 10px;
  text-align: center;
  transition: all 0.5s ease;
  width: 55px;
}

.wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 10px;
  transition: all 0.5s ease;
}

/*twitter*/

.wrapper ul li:hover.twitter {
  border: 5px solid var(--color-effect-twitter);
  box-shadow: 0 0 15px var(--color-effect-twitter);
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: var(--color-effect-twitter);
  text-shadow: 0 0 15px var(--color-effect-twitter);
  transition: all 0.5s ease;
}

/* github */

.wrapper ul li:hover.github {
  border: 5px solid var(--color-effect-github);
  box-shadow: 0 0 15px var(--color-effect-github);
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: var(--color-effect-github);
  text-shadow: 0 0 15px var(--color-effect-github);
  transition: all 0.5s ease;
}

/* linkedin */

.wrapper ul li:hover.linkedin {
  border: 5px solid var(--color-effect-linkedin);
  box-shadow: 0 0 15px var(--color-effect-linkedin);
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: var(--color-effect-linkedin);
  text-shadow: 0 0 15px var(--color-effect-linkedin);
  transition: all 0.5s ease;
}

@media (max-width: 620px) {
  nav > ul > li > a {
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1em;
  }
}

@media (max-width: 530px) {
  .header-intro > h1 {
    font-size: 2.25em;
  }
  .header-intro-roles {
    flex-direction: column;
  }
  .header-intro-roles > p {
    font-size: 1.25em;
    line-height: 2em;
  }

  .wrapper > ul > li > a > .fa-github,
  .fa-linkedin {
    font-size: 1em;
  }
  .wrapper ul li {
    border: 2px solid #d8e2dc;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
  .wrapper ul li .fa {
    margin-top: -50px;
  }
}

@media (max-width: 400px) {
  /* HOME */
  .header-intro > h1 {
    letter-spacing: 0.05em;
  }
}

@media (max-width: 360px) {
  .header-intro > h1 {
    border-bottom: 0;
    line-height: 1.5em;
    padding: 0 5px;
  }
}

@media (max-width: 374px) {
  /* HOME */
  .exp-title > h1,
  .edu-title > h1,
  .contact-title > h1 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
  }
}
